<div class="row justify-content-center">
  <div class="col-6">
    <div class="card card-body border-0">
      <h3 class="card-title border-bottom">
        Novo(s) Arquivo(s)
      </h3>
      <%= render 'file_form', folder: @folder %>
    </div>
  </div>
</div>