/*
 = require_tree .
 = require_self
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "direct_uploads";

body{
  background-color: #e6e2dd;
}

a:hover{
  text-decoration: none;
}
